<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__fixed-header drawer__fixed-header--full">

    
    
    <header class="drw-Drawer_Header">
      <form class="drw-Drawer_Form" action="/pages/search-results-page" method="get" role="search">
        <label class="drw-Drawer_Label util-ScreenReaderOnly" for="Search">Search...</label>
        <input class="drw-Drawer_Input snize-input-style" type="search" name="q" id="SearchMobile" value="" placeholder="Search..." required="" autocomplete="off">

        <button class="drw-Drawer_Search" type="submit">
          <span class="drw-Drawer_SearchIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"><path fill-rule="evenodd" d="M7.314 13.505a6.19 6.19 0 0 1-6.189-6.19 6.19 6.19 0 1 1 6.188 6.19zM17.84 17.09l-5.013-5.02c1.108-1.283 1.8-2.931 1.8-4.755A7.314 7.314 0 1 0 0 7.315a7.314 7.314 0 0 0 7.314 7.316c1.828 0 3.476-.692 4.754-1.801l5.018 5.014a.533.533 0 0 0 .754 0 .523.523 0 0 0 0-.754z"></path></svg>
</span>
          <span class="drw-Drawer_SearchText util-ScreenReaderOnly">Search</span>
        </button>
      </form>
      <button class="drw-Drawer_Close" type="button" role="button" data-module-drawers-close="menu">
        <span class="drw-Drawer_CloseIcon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><g fill-rule="evenodd"><path d="M.839.839l17.678 17.678-.884.883L-.045 1.723z"></path><path d="M18.517.839l.883.884L1.723 19.4l-.884-.883z"></path></g></svg>
</span>
        <span class="drw-Drawer_CloseText util-ScreenReaderOnly">Close</span>
      </button>
    </header>
    
    
    
    
    <div class="container mobile-menu">
      <div class="main-menu">
        <ul class="new-main-nav">
          {% for link in section.settings.main_menu_link_list.links %}
          <li class="new-main-nav__item {% if link.links != blank %} has-submenu {% endif %}{% if link.active %}active {% if link.child_active %}child-active{% endif %} {% endif %}">
            <a class="new-main-nav__link {% if link.links != blank %} new-main-nav__link--submenu {% endif %}" href="{{ link.url }}">
           	
              
              {% if link.object.image != blank %}
                <img class="link-image" src="{{ link.object.image | img_url: 'master' }}" alt="">
              {% elsif link.object.url contains 'collection' %}
                <img class="link-image" src="https://cdn.shopify.com/s/files/1/1591/3749/files/ICONS-07_180x.jpg?v=1623079363">
              {% elsif link.object.url contains 'page' %}
                {% assign title_handle = link.title | handleize %}
                {% assign link_image = title_handle | append: ".jpg" %} 
                <img class="link-image" src="{{ link_image | asset_img_url: 'master' }}">
              {% else %}
                <img class="link-image" src="https://cdn.shopify.com/s/files/1/1591/3749/files/ICONS-07_180x.jpg?v=1623079363">
              
              {% endif %}
              
              <span class="link-title">{{ link.title }}</span> 
              {% if link.links != blank %} <span class="drw-Card_Icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 15"><path fill-rule="evenodd" d="M34.599 6.819l-6.2-5.68a.674.674 0 0 1 0-.944.658.658 0 0 1 .934 0l7.41 6.792.067.028c.136.136.194.31.19.487a.655.655 0 0 1-.19.488l-.063.027-7.414 6.788a.657.657 0 0 1-.934 0 .668.668 0 0 1 0-.939l6.2-5.684H.677A.678.678 0 0 1 0 7.502a.68.68 0 0 1 .677-.683h33.922z"></path></svg>
              </span> {% endif %}
            </a>
            {% if link.links != blank %}
			<div class="new-nav new-nav--submenu new-nav--rose">
              <div class="drw-Menu_Heading"> 
                <div class="new-nav__topbar"> 
                  <button class="submenu__back">Back</button>
                </div>
                <h3 class="new-nav__title"> {{ link.title }} </h3>
              </div>
              <ul class="new-main-nav">
                {% for child_link in link.links %}  
                <li class="new-main-nav__item {% if child_link.links != blank %} has-submenu {% endif %} {% if child_link.active %} active {% if child_link.child_active %}child-active{% endif %} {% endif %}">
                  <a class="new-main-nav__link {% if link.links != blank %} new-main-nav__link--submenu {% endif %}" href= "{{ child_link.url }}">
               
               {% if link.object.image != blank %}
                <img class="link-image" src="{{ link.object.image | img_url: 'master' }}" alt="">
              {% elsif link.object.url contains 'collection' %}
                <img class="link-image" src="https://cdn.shopify.com/s/files/1/1591/3749/files/ICONS-07_180x.jpg?v=1623079363">
              {% elsif link.object.url contains 'page' %}
                {% assign title_handle = link.title | handleize %}
                {% assign link_image = title_handle | append: ".jpg" %} 
                <img class="link-image" src="{{ link_image | asset_img_url: 'master' }}">
              {% else %}
                <img class="link-image" src="https://cdn.shopify.com/s/files/1/1591/3749/files/ICONS-07_180x.jpg?v=1623079363">
              
              {% endif %}
                    
                  <span class="link-title">  {{ child_link.title }}</span> {% if child_link.links != blank %}
                    <span class="drw-Card_Icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37 15"><path fill-rule="evenodd" d="M34.599 6.819l-6.2-5.68a.674.674 0 0 1 0-.944.658.658 0 0 1 .934 0l7.41 6.792.067.028c.136.136.194.31.19.487a.655.655 0 0 1-.19.488l-.063.027-7.414 6.788a.657.657 0 0 1-.934 0 .668.668 0 0 1 0-.939l6.2-5.684H.677A.678.678 0 0 1 0 7.502a.68.68 0 0 1 .677-.683h33.922z"></path></svg>
</span>
                    {% endif %}
                  </a>
                  {% if child_link.links != blank %}
                  <div class="new-nav new-nav--submenu new-nav--maria">
                    <div class="drw-Menu_Heading"> 
                <div class="new-nav__topbar"> 
                  <button class="submenu__back">Back</button>
                </div>
                <h3 class="new-nav__title"> {{ child_link.title }} </h3>
              </div>
                    <ul class="new-main-nav">
                      {% for grandchild_link in child_link.links %}  
                      <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a href= "{{ grandchild_link.url }}">
                         
                        {% if link.object.image != blank %}
                          <img class="link-image" src="{{ link.object.image | img_url: 'master' }}" alt="">
                        {% elsif link.object.url contains 'collection' %}
                          <img class="link-image" src="https://cdn.shopify.com/s/files/1/1591/3749/files/ICONS-07_180x.jpg?v=1623079363">
                        {% elsif link.object.url contains 'page' %}
                          {% assign title_handle = link.title | handleize %}
                          {% assign link_image = title_handle | append: ".jpg" %} 
                          <img class="link-image" src="{{ link_image | asset_img_url: 'master' }}">
                        {% else %}
                          <img class="link-image" src="https://cdn.shopify.com/s/files/1/1591/3749/files/ICONS-07_180x.jpg?v=1623079363">

                        {% endif %}
                        
                          <span class="link-title"> {{ grandchild_link.title }}</span> 
                        </a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}   
                </li>
                {% endfor %}
              </ul> 
            </div>
            {% endif %} 
          </li>
          {% endfor %}
		</ul>  
      </div>
            
    </div>
  </div>
</div>
